﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="debug.aspx.cs" Inherits="EP_Ticker.debug" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h1>Intern debug. Ingenting hemmelig</h1>

        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>

        <asp:Literal ID="Literal1" runat="server"></asp:Literal>


        <asp:Literal ID="Literal2" runat="server"></asp:Literal>

        <asp:Literal ID="Literal3" runat="server"></asp:Literal>

    </div>
    </form>
</body>
</html>
