﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="EP_Ticker._default1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <iframe src="TickerTotalt2.aspx" style="border: 0px; width: 350px; height: 180px">

        </iframe>

       <iframe src="TickerButikk2.aspx" style="border: 0px; width: 350px; height: 180px">

       </iframe>
    </div>
    </form>
</body>
</html>
