﻿html { padding: 0; margin: 0; }
body {
	font-family: Palatino, Georgia, "Times New Roman", serif;
	padding: 0;
	margin: 0;
	font-size: 1em;
}

h1 {
	font-size: 4em;
	letter-spacing: -1px;
	margin: 1em 0 0.5em;
	text-align: center;
}

.interact {
	border-top: 1px solid #ccc;
	margin-top: 3em;
	margin-bottom: 4em;
	padding-top: 1.5em;
	text-align: left;
}

.interact a {
	background-color: #2179b6;
	border-bottom: 1px solid #084d7d;
	color: #eee;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Arial, sans-serif;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	text-decoration: none;
	padding: 8px 14px;
	margin: 0 1em;
}

	.interact p {
		font-style: italic;
		color: #666;
	}

.return {
	font-size: 1.5em;
	text-align: center;
}
	.return a {
		color: #2179b6;
		text-decoration: none;
	}
	.return a:hover {
		text-decoration: underline;
	}