﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="failure.aspx.cs" Inherits="EP_Driftsrapport.failure" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="FeaturedContent" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">

    <h1>Innlogging feilet</h1>

    <p>Vennligst kontakt IT-support for å få tilgang</p>

    <p>Klikk <a href="default.aspx">her</a> for å forsøke på nytt</p>

</asp:Content>
